{%- include head-matter.html -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign tag_pages = site.collections | where: "label", "taglists" | map: "docs" | first -%}

<body>
<main>
	<article>
		<header>
			<h1 class="post-title">{{ page.title }}</h1>
			<nav>
				<a href="/" title="Home" rel="author" class="internal-link">{{ page.author | default: "Denys Smirnov"}}</a>&nbsp;|&nbsp;
				<time datetime="{{ postDate | date: '%Y-%m-%d' }}">
					{%- unless page.custom-date %}
						{{ page.date | date: date_format }}
					{%- else -%}
						{{ page.custom-date | date: date_format }}
					{%- endunless -%}
				</time>
				{%- for tag in page.tags -%}
					{%- assign page = tag_pages | where: "main_tag", tag | first -%}
					&nbsp;|&nbsp;
					{%- unless page -%}
					<span class="internal-link">{{ tag }}</span>
					{%- else -%}
					<a href="{{ page.url }}" title="{{ tag }}" class="internal-link">{{ tag }}</a>
					{%- endunless -%}
				{%- endfor -%}
			</nav>
		</header>
		{{ content }}
	</article>
</main>
{%- include footer.html -%}
</body>
</html>