{%- include head-matter.html -%}

<body>

  <main>
    <article>

      <header>
        <h1 class="index-title">{{ page.main_tag }}</h1>
        <nav>
          {%- include page-nav.html -%}
        </nav>
      </header>

      <div class="tag_list">
        {{ content }}

        {%- if site.tags[page.main_tag].size > 0 -%}
        <h2 class="post-list-heading"> Posts </h2>
        <ul class="post-list">
          {%- for post in site.tags[page.main_tag] -%}
          <li>
            {% include blog-listing.html %}
          </li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
      </div>

    </article>

  </main>

  {%- include footer.html -%}

</body>